@font-face {
	font-family: 'Sentient', serif;
	src: url('/fonts/Sentient-Light.ttf');
	font-style: light;
}

hr {
	border: 1px, solid, #660033;
	background-color: #660033;
	height: 3px;
}

a {
	color: white;
	font-weight: bold;
}